html {
    font-size: 14px
}

.title {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;

    &.ft-1 {
        font-size: 3rem
    }
    
    &.ft-2 {
        font-size: 2.75rem
    }
    
    &.ft-3 {
        font-size: 2.5rem
    }
    
    &.ft-4 {
        font-size: 2rem
    }
    
    &.ft-5 {
        font-size: 1.75rem
    }
    
    &.ft-6 {
        font-size: 1.5rem
    }
}

p {
    font-size: 1rem
}