h2.title.ft-2 Buttons

.flex.justify-evenly.flex-w
    button.button.primary Primary
    button.button.secondary Secondary
    button.button.success Success
    button.button.info Info
    button.button.warning Warning
    button.button.danger Danger
    button.button.dark Dark
br    
.flex.justify-evenly.flex-w    
    button.button.primary.rounded Primary
    button.button.secondary.rounded Secondary
    button.button.success.rounded Success
    button.button.info.rounded Info
    button.button.warning.rounded Warning
    button.button.danger.rounded Danger
    button.button.dark.rounded Dark
br    
.flex.justify-evenly.flex-w    
    button.button.primary-outline.rounded Primary
    button.button.secondary-outline.rounded Secondary
    button.button.success-outline.rounded Success
    button.button.info-outline.rounded Info
    button.button.warning-outline.rounded Warning
    button.button.danger-outline.rounded Danger            
    button.button.dark-outline.rounded Dark            
br    
.flex.justify-evenly.flex-w    
    button.button.primary-link.rounded Primary
    button.button.secondary-link.rounded Secondary
    button.button.success-link.rounded Success
    button.button.info-link.rounded Info
    button.button.warning-link.rounded Warning
    button.button.danger-link.rounded Danger            
    button.button.dark-link.rounded Dark                