h2.title.ft-2 Buttons

.flex.justify-evenly.flex-w
    button.button.primary Primary
    button.button.secondary Secondary
    button.button.success Success
    button.button.info Info
    button.button.warning Warning
    button.button.danger Danger
br    
.flex.justify-evenly.flex-w    
    button.button.primary.rounded Primary
    button.button.secondary.rounded Secondary
    button.button.success.rounded Success
    button.button.info.rounded Info
    button.button.warning.rounded Warning
    button.button.danger.rounded Danger        