h2.title.ft-2 Colors

p We use a pastel base color

.flex.justify-evenly
    .flex.flex-d-col.align-center
        .bg-primary(style="height: 50px; width: 50px")
        p.text-primary Primary color
    .flex.flex-d-col.align-center    
        .bg-secondary(style="height: 50px; width: 50px")
        p.text-secondary Secondary color
    .flex.flex-d-col.align-center        
        .bg-success(style="height: 50px; width: 50px")
        p.text-success Success color
    .flex.flex-d-col.align-center        
        .bg-info(style="height: 50px; width: 50px")
        p.text-info Info color
    .flex.flex-d-col.align-center            
        .bg-warning(style="height: 50px; width: 50px")
        p.text-warning Warning color
    .flex.flex-d-col.align-center        
        .bg-danger(style="height: 50px; width: 50px")
        p.text-danger Danger color