h2.title.ft-2 Forms

.flex.flex-d-col
    div
        h6.title.ft-5 Input        
        input.input(type="text" placeholder="Label field")
    br
    div
        h6.title.ft-5 Form fields
        .form-field
            label.title(for="fieldone") Label field
            input.input#fieldone(type="text")
        .form-field-inline
            label.title(for="fieldone") Label field
            input.input#fieldone(type="text")
    
             