h2.title.ft-2 Tables

.flex.flex-d-col
    table.table
        thead
            tr
                th Name
                th Last Name
                th Address
                th Phone
                th Actions
        tbody
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td                   
                    a(href="") Edit
                    a(href="") Erase
    br
    table.table-bordered
        thead
            tr
                th Name
                th Last Name
                th Address
                th Phone
                th Actions
        tbody
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td                   
                    a(href="") Edit
                    a(href="") Erase                
    br
    table.table.hovered
        thead
            tr
                th Name
                th Last Name
                th Address
                th Phone
                th Actions
        tbody
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td                   
                    a(href="") Edit
                    a(href="") Erase                
    br
    table.table-bordered.hovered.striped
        thead
            tr
                th Name
                th Last Name
                th Address
                th Phone
                th Actions
        tbody
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td
                    a(href="") Edit
                    a(href="") Erase
            tr
                td Maria
                td Eduarda Zarjillo
                td Elm's Street #24
                td 52 523838
                td                   
                    a(href="") Edit
                    a(href="") Erase                