h2.title.ft-2 Text and Font

p We use 
    code font-size: 14px
    |  in the html root.

h1.title.ft-1 Header Title       
h2.title.ft-2 Header Title       
h3.title.ft-3 Header Title       
h4.title.ft-4 Header Title       
h5.title.ft-5 Header Title       
h6.title.ft-6 Header Title       