$fire-color: #ed6d79;
$fire-color-dark: #da6570;
$water-color: #90d4f7;
$water-color-dark: #84c4e4;
$grass-color: #71e096;
$grass-color-dark: #66ca87;
$sun-color: #ffdc89;
$sun-color-dark: #ebca7b;
$primal-color: #898cff;
$primal-color-dark: #7476d8;
$secondary-color: #b5bdc4;
$secondary-color-dark: #acb3b9;
$dark-color: #3c3c3c;
$dark-color-dark: #000;
$white-color: #fff;

//Color for texts
.text-danger {
    color: $fire-color;
}

.text-info {
    color: $water-color;
}

.text-success {
    color: $grass-color;
}

.text-warning {
    color: $sun-color;
}

.text-primary {
    color: $primal-color;
}

.text-secondary {
    color: $secondary-color;
}

.text-white {
    color: $white-color;
}

.text-dark {
    color: $dark-color;
}

//Color for Background 
.bg-danger {
    background-color: $fire-color;
}

.bg-info {
    background-color: $water-color;
}

.bg-success {
    background-color: $grass-color;
}

.bg-warning {
    background-color: $sun-color;
}

.bg-primary {
    background-color: $primal-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.bg-dark {
    background-color: $dark-color;
}