/// Set visual color button
/// @param {Color} $first-color
/// @param {Color} $second-color
@mixin setButtonColor($first-color, $second-color) {
    background-color: $first-color;        
        &:hover {
            background-color: $second-color;
        }  
        &-outline {
            background-color: transparent;
            border-color: $first-color;
            color: $first-color;
            &:hover {
                background-color: $second-color;
                color: $white-color;
            }
        }
        &-link {
            background-color: transparent;            
            color: $first-color;
            &:hover {
                background-color: $second-color;
                color: $white-color;
            }
        } 
}

.button {
    padding: .5rem .75rem;    
    border: 1px solid transparent;
    border-radius: .15rem;
    color: $white-color;
    transition: .3s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &.primary {
        @include setButtonColor($primal-color, $primal-color-dark);                    
    }
    &.secondary {
        @include setButtonColor($secondary-color, $secondary-color-dark);         
    }
    &.success {
        @include setButtonColor($grass-color, $grass-color-dark);
    }
    &.warning {
        @include setButtonColor($sun-color, $sun-color-dark);
    }
    &.info {
        @include setButtonColor($water-color, $water-color-dark);
    }
    &.danger {
        @include setButtonColor($fire-color, $fire-color-dark);
    }
    &.dark {
        @include setButtonColor($dark-color, $dark-color-dark);        
    }

    &.rounded {
        border-radius: 3rem;
    }
}