extends layout/layout.pug

block content
    h1 Welcome to Runic CSS Version 0.0.1
    include partials/colors.pug
    include partials/buttons.pug    
    include partials/forms.pug    
    include partials/text.pug